{% extends 'base.html.twig' %}

{% block title %}genres!{% endblock %}

{% block body %}
    <ul>
        {% for genre in genre %}
            <li>{{genre}}</li>
        {% endfor %}
    </ul>
{% endblock %}
