html {
    margin: 0;
    height: 100%; // this is an necessary for a nice, tiled interface. 
    font-size: 62.5%;
}

body {
    background-color: $background;
    color: $text;
    font-family: $font;
    font-size: $font-size;
    margin: 0;
}

html,
body,
body * {
    box-sizing: border-box;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $text;
    margin: 2rem 0rem;
    color: $text;
    font-family: $font;
}