.tracks {
    div:hover {
        color: $orange;
    }
}

%player {
    width: 70vw; 
    height: 40vw;
    margin: 1rem;
}

.player {
    @extend %player;
}

.player--offline {
    @extend %player;
    border: 1px solid white;
}

.player--controls {
    display: flex;
    margin: 1rem;
    justify-content: space-between;
}

.player--controls__button {
    width: 15rem;
    height: 3rem;
    background-color: $red;
    border: none;
}

.player--controls__button:hover {
    background-color: $orange;
}