
$s_panel-height: 3.7rem;

.l_tiles {
    display: block;

    @include breakpoint('s') {
        height: 100%;
    }
}

.l_tiles__panel {
    position: relative;
    width: 100%;
}

.l_tiles__content {
    @include breakpoint('s') {
        height: 100%;
    }
}
