{% extends "base.html.twig" %}

{% block body %}
    {% if app.user %}
        <p>Username: {{ app.user.username }}</p>
        <p>Email: {{ app.user.email }}</p>
        <a href="/logout">Logout</a>
    {% else %}
        <a href="/login">Login</a>
    {% endif %}

    {# load vue #}
    <div id="player"></div>
{% endblock %}
