{% extends "base.html.twig" %}

{% block body %}
    {# load vue #}
    <div id="player"></div>

    {# There must be a better way to do this #}
    <script>
        const env = '{{ env }}';
    </script>
{% endblock %}