{% extends 'base.html.twig' %}

{% block title %}New Genre{% endblock %}

{% block body %}

{{ form_start(form, { 'attr': { 'class': 'form form--centered' } }) }}
    <div class="form__inner">
        <h1>Add a new genre</h1>

        {{ form_row(form.name) }}
        {{ form_row(form.tracks) }}

        <button type="submit">Submit</button>
    </div>
{{ form_end(form) }}

{% endblock %}